---
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push

default_stages:
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          - --strict
          - feat
          - fix
          - docs
          - style
          - refactor
          - perf
          - test
          - chore
          - build
          - ci

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.1
    hooks:
      - id: golangci-lint-config-verify
      - id: golangci-lint-full

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        stages: [pre-push]

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 4.0.0a2
    hooks:
      - id: sqlfluff-fix
      - id: sqlfluff-lint
